
<div>
  <footer>
  <ul class="svg-container">
    <img src="images/facebook.svg" alt="facebook">
    <img src="images/instagram.svg" alt="instagram">
    <img src="images/twitter.svg" alt="twitter">
  </ul>
  </footer>
</div>
