<header>
  <nav class="main-nav-wrapper">
    <ul class="main-nav">
      <li><a href="#0">About</a></li>
      <!-- other list items here -->
      <li>
        <a href="#0" class="subnav-trigger"><span>Categories</span></a>
          <li class="go-back"><a href="#0">Menu</a></li>
          
          <!-- other list items here -->
      </li>
    </ul>
  </nav>
</header>