body {
  background-color: blanchedalmond;
}
header.nav-is-visible {
  transform: translateX(-260px);
}

.cd-main-content.nav-is-visible {
  transform: translateX(-260px);
}

.cd-main-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  visibility: hidden;
}

.cd-main-nav.nav-is-visible {
  visibility: visible;
}

.cd-main-nav li ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(260px);
}

.cd-main-nav.moves-out>li>a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  transform: translateX(-100%);
  opacity: 0;
}

.cd-main-nav.moves-out>li>ul {
  /* reveal secondary nav */
  transform: translateX(0);
}